.firstPara{
  text-align:left;
  font-fmily:'Arial';
  background-color:rgb(220,220,220);
}

.secondPara{
  text-align:center;
  font-fmily:'Arial';
  background-color:rgb(254,254,254);
}

.thirdPara{
  text-align:left;
  font-fmily:'Arial';
  background-color:rgb(220,220,220);
}